## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a=2
print (a)

2

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type (8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type (a)

int

4) Crear una variable que contenga tu nombre

In [5]:
nomb = "Axl"
print (nomb)

Axl

5) Crear una variable que contenga un número complejo

In [10]:
numc = 2*2
print (numc)

4

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [12]:
type (2*2j)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [14]:
pi = 3.1416
print (pi)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [42]:
tstr = "True"
tbool = True
print ("No son el mismo tipo de valor")

No son el mismo tipo de valor

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [47]:
print ("Por algún motivo me sale un error llamado 'bool object is not callable' cuando intento usar Type en la variable creada en el punto 8, aún así, True es Bool type y 'True' es str")

Por algún motivo me sale un error llamado 'bool object is not callable' cuando intento usar Type en la variable creada en el punto 8, aún así, True es Bool type y 'True' es str

10) Asignar a una variable, la suma de un número entero y otro decimal

In [49]:
dec=2+2.5
print (dec)

4.5

11) Realizar una operación de suma de números complejos

In [54]:
ncom = 3+3j
ncomr = ncom + dec
print (ncomr)

(7.5+3j)

12) Realizar una operación de suma de un número real y otro complejo

In [55]:
complej = ncom + 1.5
print (complej)

(4.5+3j)

13) Realizar una operación de multiplicación

In [57]:
mult = 2*2
print (mult)

4

14) Mostrar el resultado de elevar 2 a la octava potencia

In [60]:
pot = 2**8
print (pot)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [62]:
coci=27/4
print (coci)

6.75

16) De la división anterior solamente mostrar la parte entera

In [63]:
cocie=27//4
print(cocie)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [65]:
cocr=27%4
print (cocr)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [66]:
res=4*cocie+cocr
print (res)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [68]:
alf1 = "esta me costo "
alf2= "un poco más que las otras"
alfr = alf1+alf2
print (alfr)

esta me costo un poco más que las otras

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [73]:
2 == "2"

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [74]:
2 == int("2")

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [76]:
float("3,8")

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [79]:
vari = 3
vari -= 1
print (vari)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [84]:
print ("esto ocurre porque el 1 se desplaza 2 casillas a la izquierda, completando los espacios con 0, lo que causa que queda 0100, el binario para 4")
1 << 2

esto ocurre porque el 1 se desplaza 2 casillas a la izquierda, completando los espacios con 0, lo que causa que queda 0100, el binario para 4

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [89]:
print ("Da error por que son diferentes tipos, el resultado cambia dependiendo del tipo al que se transforme el dato, sea str, int, float, etc")
var4 = 2+"2"

Da error por que son diferentes tipos, el resultado cambia dependiendo del tipo al que se transforme el dato, sea str, int, float, etc

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [91]:
vale = 4
vals = "Terminé las actividades! "
valr = vals * vale
print (valr)

Terminé las actividades! Terminé las actividades! Terminé las actividades! Terminé las actividades!